
a {
    display: block;
    width: 40%;
    padding: 1% 2%;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    background-color: rgb(69, 69, 238);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
}

a:hover {
    background-color: darkblue;
}

a:nth-of-type(1) {
    margin-top: 40vh;
    margin-bottom: 2%;
    transform: translateY(-50%);
}