@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --oscuro: #1a202c;
    --medio-oscuro: #2d3748;
    --claro-oscuro: #4a5568;
    --azul: #2c5282;
    --azul-claro: #63b3ed;
    --acento: #0085ae;
    --amarillo: #ffcc00;
    --blanco-claro: #ebf8ff;
    --azul-oscuro: #2a4365;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: linear-gradient(135deg, var(--oscuro), var(--medio-oscuro), var(--claro-oscuro));
    background-size: 400% 400%;
    color: white;
}

/* Estilos Header */
/*-- Header --*/
header {
    background-color: var(--azul);
    color: white;
    height: 8vh;
    padding: 0 20px;
    border-bottom: 4px solid var(--azul-claro);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: 60px;
}
/*-- Header | Elementos --*/

/* img */
header img {
    width: 8vh;
    min-width: 60px;
    position: absolute;
    top: 50%;
    left: 1.8%;
    transform: translateY(-50%);
}

/* h1 */
header h1 {
    font-size: 1.2em;
    color: var(--blanco-claro);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* a */
header a {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0.5% 1%;
    border: 3px solid var(--azul-claro);
    border-radius: 8px;
    background: var(--azul-oscuro);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 6px #000, -3px -3px 6px #444;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
}
header p{
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0.25% 0.5%; ;
    border: 3px solid var(--azul-claro);
    border-radius: 8px;
    background: var(--azul-oscuro);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 6px #000, -3px -3px 6px #444;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* a:hover */
header p:hover {
    background: #a8cfeb;
    color: var(--azul-oscuro);
    border-color: var(--azul-oscuro);
    box-shadow: 0px 0px 10px var(--azul-claro);
    transform: translateY(-57%);
}

/* Estilos Main */
main{
    width: 85%;
    margin: 0 auto;
}

main img:first-child {
    width: 100%;
    border: 8px solid var(--azul);
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.6);
}

.chincheta{
    position: absolute;
    width: 3%;
}
/* Para tablet en modo vertical */
@media (max-width: 768px) {
    header{
        min-height: 12vh;
    }
    main {
        width: 90%;
    }
    header img{
        width: 10%;
    }
}

/* Para tablet en modo horizontal */
@media (max-width: 1024px) and (min-width: 769px) {
    header{
        min-height: 12vh;
    }
    header img{
        width: 8%;
    }

}


/* Popup */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 9999;
    backdrop-filter: blur(5px);  /* Filtro Desenfoque */
}

#popup > div {
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    background: var(--acento);
    border: 4px solid #ffffff;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    width: 30%;
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); 
    position: relative;
}

#popup > div p {
    margin: 5% 0;
}

/* Botón de cerrar (emoji) */
#popup > div span {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 32px;
    background: var(--amarillo); /* Color amarillo como contraste */
    color: white;
    border: 4px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, background 0.3s; /* Duración Transiciones - Transform && Background */
}

/* Hover del botón */
#popup > div span:hover {
    background: #ff5555; /* Rojo para el hover */
    transform: scale(1.1);
}