<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Continente</title>
    <link rel="icon" href="../src/img/mapa.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../../css/estiloSilva.css">
</head>
<body>
    <header>
        <img src="../../img/logo.png" alt="Logo">
        <h1>Viaje entre Culturas</h1>
    </header>
    <main>
        <div>
            <form>
                <div>
                    <label for="continente">Nombre continente:</label>
                    <input type="text" name="continente">
                    <br><br>
                </div>   
                    <button type="button" class="cancel">Cancelar</button>
                    <button type="button" class="update">Dar Alta</button>
            </form>
        </div>
        <script src="validCont.js"></script>
    </main>
</body>
</html>